<template>
  <div id="app">
    <router-link to="/"></router-link>
    <router-link to="/Signup"><button>Signup</button></router-link>
    <router-link to="/Signin"><button>Signin</button></router-link>
    <router-link to="/Contact"><button>Contact</button></router-link>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:pink;
  border: 1px solid ;
  padding:10px;
}
button{
  margin-left:10px;
}
</style>
